{% if variant == "default" %}
<a href="{{ href }}"
   class="py-2 px-3 bg-blue-500 text-white text-sm font-semibold rounded-md shadow-lg shadow-blue-500/50 focus:outline-none hover:scale-105 transition {{ class }}">
        {% if icon is defined %}
                <i class="{{ icon }}"></i>
        {% endif %}
    {{ label }}
</a>
{% elseif variant == "ghost" %}
<a href="{{ href }}"
   class="py-2 px-3 text-white text-sm font-semibold rounded-md focus:outline-none hover:scale-105 transition {{ class }}">
        {% if icon %}
                <i class="{{ icon }}"></i>
        {% endif %}
    {{ label }}
</a>
{% elseif variant == "outline" %}
<a href="{{ href }}"
   class="py-2 px-3 border border-blue-500 text-white text-sm font-semibold rounded-md shadow-lg focus:outline-none hover:scale-105 transition">
    {% if icon %}
        <i class="{{ icon }}"></i>
    {% endif %}
    {{ label }}
</a>
{% endif %}
