<div class="h-fit bg-slate-950 flex flex-col justify-center divide-slate-500 divide-y px-20 md:px-80 text-slate-400">
    <div class="flex flex-col justify-center h-20">
        <div class="flex flex-row justify-between">
            <div class="text-2xl">
                ARCVERSE
            </div>
            <div class="flex flex-row justify-center w-fit gap-x-2.5">
                {{ include('components/ui/button.html.twig', {
                    variant: "default",
                    href: path('app_homepage'),
                    label: "Home",
                    icon: "fa-solid fa-house",
                    class: ""
                }) }}
                {{ include('components/ui/button.html.twig', {
                    variant: "default",
                    href: path('app_homepage'),
                    label: "Jobs",
                    icon: "fa-solid fa-person",
                    class: ""
                }) }}
                {{ include('components/ui/button.html.twig', {
                    variant: "ghost",
                    href: path('app_homepage'),
                    label: "Datenschutz",
                    icon: "",
                    class: ""
                }) }}
                {{ include('components/ui/button.html.twig', {
                    variant: "ghost",
                    href: path('app_imprint'),
                    label: "Imprint",
                    icon: "",
                    class: ""
                }) }}
            </div>
        </div>
    </div>
    <div class="flex flex-col justify-center h-20">
        <div class="flex flex-row justify-between">
            <div class="font-bold flex flex-col">
                <div>
                    Copyright 2023 <span class="text-slate-300">ARCVERSE</span>
                </div>
                <div class="text-slate-700 text-sm">
                    We are not affiliated with Mojang, AB.
                </div>
            </div>
            <div class="flex flex-row justify-center w-fit">
                <img src="{{ asset('images/logo_2.png') }}" alt="" class="h-10" />
            </div>
        </div>
    </div>
</div>
