<div class="h-fit flex flex-row justify-center gap-x-10 py-2.5 bg-black/50 group" {{ stimulus_controller('mobile-navbar') }}>
    <div class="flex flex-col justify-center">
        <div class="w-fit p-2 flex flex-row justify-between gap-x-8">
            <img alt="" class="h-10" src="{{ asset('images/logo.png') }}">
        </div>
    </div>
    <div class="flex flex-col justify-center lg:hidden transition">
        <button
                class="py-2 px-3 bg-blue-500 text-white text-sm font-semibold rounded-md shadow-lg shadow-blue-500/50 focus:outline-none hover:scale-105 transition"
                {{ stimulus_action('mobile-navbar', 'openNav') }}>
            <i class="fa-solid fa-burger"></i>
            Menu
        </button>
    </div>
    <div class="absolute h-full w-full hidden flex-row justify-center bg-slate-950/70 transition lg:hidden" {{ stimulus_target('mobile-navbar', 'navbarDiv') }}>
        <div class="w-fit p-2 flex flex-col justify-center gap-y-4">
            {{ include('navbar-items.html.twig', {
                mobile: true
            }) }}
        </div>
    </div>
    <div class="hidden lg:flex flex-col justify-center">
        <div class="w-fit p-2 flex flex-row justify-between gap-x-8">
            {{ include('navbar-items.html.twig', {
                mobile: false
            }) }}
        </div>
    </div>
</div>
