<form class="pl-1 w-full" action="{{ path('app_jobs_info', {
    job: job.id
}) }}" method="POST">
    <div class="flex flex-col gap-y-4">
        {{ include('components/ui/text-input.html.twig', {
            type: "text",
            label: "Name",
            id: "name",
            attr: "required",
            area: false
        }) }}

        {{ include('components/ui/text-input.html.twig', {
            type: "text",
            label: "Discord Name",
            id: "discord_name",
            attr: "required",
            area: false
        }) }}

        {{ include('components/ui/text-input.html.twig', {
            type: "email",
            label: "Email address",
            id: "email",
            attr: "required",
            area: false
        }) }}

        {{ include('components/ui/text-input.html.twig', {
            type: "number",
            label: "Age",
            id: "age",
            attr: "required",
            area: false
        }) }}

        {{ include('components/ui/text-input.html.twig', {
            type: "text",
            label: "Your strengths",
            id: "strengths",
            attr: "required",
            area: true
        }) }}

        {{ include('components/ui/text-input.html.twig', {
            type: "text",
            label: "Your weaknesses",
            id: "weaknesses",
            attr: "required",
            area: true
        }) }}

        {{ include('components/ui/text-input.html.twig', {
            type: "text",
            label: "Your online times",
            id: "online_time",
            attr: "required",
            area: false
        }) }}

        {{ include('components/ui/text-input.html.twig', {
            type: "text",
            label: "Your minecraft experience",
            id: "minecraft_experience",
            attr: "required",
            area: true
        }) }}

        {{ include('components/ui/text-input.html.twig', {
            type: "text",
            label: "How did you find us?",
            id: "origin",
            attr: "required",
            area: false
        }) }}

        {{ include('components/ui/text-input.html.twig', {
            type: "text",
            label: "Tell us about you and what you do",
            id: "about",
            attr: "required",
            area: true
        }) }}
    </div>

    <div class="pt-8">
        <div>
            <h3 class="text-lg leading-6 font-medium text-gray-100">Privacy</h3>
            <p class="mt-1 text-sm text-gray-100">
                You have to agree to our privacy policy to submit your application.
            </p>
        </div>
        <div class="mt-4 space-y-4">
            <div class="relative flex items-start">
                <div class="flex items-center h-5">
                    <input required="" id="privacy" name="privacy" type="checkbox"
                           class="focus:ring-indigo-500 h-4 w-4 bg-gray-700 text-indigo-600 border-gray-300 rounded hover:cursor-pointer">
                </div>
                <div class="ml-3 text-sm">
                    <label for="privacy" class="font-medium text-gray-100 hover:cursor-pointer">
                        I have read and agree to the {{ include('components/ui/link.html.twig', {
                            label: "Privacy Policy",
                            href: path('app_privacy'),
                            blank: true
                        }) }}, and I agree that my data will be stored for the purpose of processing my application.
                    </label>
                </div>
            </div>
        </div>
        <div class="mt-6">
            {{ include('components/ui/button.html.twig', {
                label: 'Submit application',
                variant: 'submit',
                icon: 'fa-solid fa-rocket',
                class: ''
            }) }}
        </div>
    </div>
</form>
